

.body-container {
    display: block;
    position: relative;
    left:0;
    top:0;
    width: calc(100vw-20px);
    min-height: 90.84vh;
    background-color: #0B0533;
    overflow: hidden;

    .c-Body-a-UploadCircle {
        display: inline-block;
        left: 69px;
        top:0.59vh;
        position: absolute;
    }

    .c-Body-a-ProgressBar {
        display: block;
        position: absolute;
        left: 1.56vw;
        bottom: 2.08vh
    }
}

