

.body-container {
    display: block;
    position: relative;
    left:0;
    top:0;
    width: auto;
    height: 1080px;
    background-color: #0B0533;
    overflow: hidden;

    .c-Body-a-LeftSvg {
        margin-top: 84.8px;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;

    }

    .c-Body-a-UploadCircle {
        left: 67.6px;
        top:92px;
        position: absolute;
    }

    .c-Body-a-ToolBox {
       position: absolute;
       left: 45.3px;
       top:  303.1px;
    }

    .c-Body-a-UploadButton {
        display: block;
        position: absolute;
        left: 30px;
        top: 981.2px;
    }

    .c-Body-a-ProgressBar {
        display: block;
        position: absolute;
        left: 30px;
        top: 1030.1px;
    }

    .c-Body-a-WorkspaceContainer {
        display: block;
        position: absolute;
        left: 243px;
        top: 80px;
        width: 86.49vw/*1660.65px*/;
        height: 90.46vh/*976.94px*/;
        background-color: cyan;
        clip-path: url(#my-clip-path);
        filter: drop-shadow(0 0 0 50px black);
    }
}

