
@font-face {
    font-family: 'Baloo2-Regular';
    src: local('Baloo2-Regular'), url(./../fonts/Baloo2-Regular.ttf) format('truetype');
  }
  
@keyframes fadein_dialog{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
        
}

@keyframes fadein_button {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein_input {
    from {
        opacity: 0;
        top: 0%;
        left: 50%;
        width: 0%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 50%;
    }
}

@keyframes fadein_select {
    from {
        opacity: 0;
        top: 0%;
        left: 50%;
        width: 0%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 50%;
    }
}

.dialog {
    position: flex;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    background: #000533;
    box-shadow: 0px 15px 15px 0px grey;
    font-family: inherit;
    width: 40%;
    border-radius: 25px;
    animation: fadein_dialog forwards;
    animation-duration: 1s;
}
.dialog p {
    color: rgb(255, 255, 255);
    text-align: center;
}
.button_round {
    position: flex;
    border-radius: 5px 5px;
    font-size: inherit;
    display: inline-block;
    font-family: inherit;
    text-align: center;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    animation: fadein_button forwards;
    animation-duration: 1s;
}

.dialog select {
    position: flex;
    display: inline-flex;
    border-radius: 5px 5px;
    font-size: inherit;
    border-style: groove;
    margin: auto;
    font-family: inherit;
    width: 50%;
    text-indent: 40%;
    animation: fadein_select forwards;
    animation-duration: 1s;
}

.select_new option {
    margin: auto;
    font-family: inherit;
}

.input_new {
    position: flex;
    display: inline-block;
    border-radius: 5px 5px;
    font-size: 17px;
    text-align: center;
    font-family: inherit;
    margin: auto;
    animation: fadein_input forwards;
    animation-duration: 1s;
}

.dialog-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-family: "Baloo2-Regular";
}