@keyframes fadein_menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: local('Baloo2-Regular'), url(./../fonts/Baloo2-Regular.ttf) format('truetype');
  }

.sidebar-nav {
    position: absolute;
    z-index: 1;
    height: 365px;
    background-color:#0B0533;
    margin: auto;
    overflow-x: hidden;
    box-shadow: 15px 15px 15px 0px grey;
    padding-bottom: 23px;
    animation: fadein_menu forwards;
    animation-duration: 1s;
}
.sidebar-nav p {
    position: flex;
    padding: 22px 0px 0px 24px;
    text-align: left;
    font-size: 17px;
    font-family: 'Baloo2-Regular';
    color: #ffffff;
    display: block;
    margin: 0px;
}
.sidebar-nav svg {
    position: flex;
    align-self: center;
    fill: #0B0533;
    justify-content: center;
    display: block;
    margin: -12px -6px -12px -6px;
}

.sidebar-nav svg:hover {
    fill: #0079dc;
}

.sidebar-nav svg:active {
    fill: #ffffff;
}