#view-code-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    .text{
        user-select: none;
        padding-bottom: 21px;
        font-size: 21px;
    }
}
.code-viewer{
    display: flex;
    width: 352.96px;
    height: 611px;
    color: #4C97FF;
    margin-bottom: 12px;
    pre{
        background: #060841 !important;
    }
}