@keyframes bounce {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-rotate {
    from{
        transform: rotate(-13deg);
    }
    to{
            transform: rotate(-1deg);
    }
}
.Splash{
    display: inline-flex;
    // padding: 50px;
    // width: 849.61px;
    background-color: #0b0533;
    #Leaves {
        transform-origin: bottom;
        position: absolute;
        margin-left: 623px;
        margin-top: 50px;
        #Leaf-Right {
            position: absolute;
            transform: scale(0) ;
            margin-left: 80.9px;
            margin-top: 65px;
            animation: bounce forwards 1.5s cubic-bezier(.47,1.64,.41,.8);
            animation-delay: 0.2s;
        }
        #Leaf-Middle{
            position: absolute;
            transform: scale(0);
            margin-left: 70.4px;
            animation: bounce forwards 1.5s cubic-bezier(.47,1.64,.41,.8);
        }
        #Leaf-Pot{
            position: absolute;
            transform: scale(0);
            margin-left: 105px;
            margin-top: 310px;
            animation: bounce forwards 1.5s cubic-bezier(.47,1.64,.41,.8);
        }
        #Leaf-Left{
            position: absolute;
            transform: scale(0);
            margin-top: 57px;
            margin-left: -40px;
            animation: bounce forwards 1.5s cubic-bezier(.47,1.64,.41,.8);
            animation-delay: 0.4s;
        }
        #Leaf-Small{
            position: absolute;
            transform: scale(0);
            margin-top: 160px;
            margin-left: 100.4px;
            animation: bounce forwards 1.5s cubic-bezier(.47,1.64,.41,.8);
            animation-delay: 0.4s;
        }
    }
    #LaptopDisplay{
        animation: bounce forwards 0.7s cubic-bezier(.47,1.64,.41,.8);
    }
    #Blocks{
        position: absolute;
        margin-left: 213px;
        margin-top: 50px;
        animation: bounce forwards 1.2s cubic-bezier(.47,1.64,.41,.8);
        animation-delay: 0.3;
    }
    #MingoBlocks{
        position: absolute;
        margin-top: 230px;
        margin-left: 509px;
        animation: bounce forwards 2s;
        svg{
            transform-origin: bottom right;
            transform: rotate(-13deg);
            animation: bounce-rotate 1s forwards ease-in-out;
            animation-delay: 0.5s;
        }
    }
}
