@keyframes bounce {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce-extra {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce-rotate {
    from {
        transform: rotate(-13deg);
    }
    to {
        transform: rotate(-1deg);
    }
}
@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes reveal {
    from {
        clip: rect(0px, 0px, 200px, 0px);
    }
    to {
        clip: rect(0px, 300px, 200px, 0px);
    }
}

#Splash-Background {

        position: absolute;
        z-index: 0;
        #background-svg {
            height: 90vh;
            width: 90vw;
        }
    .Splash-Items {
        display: grid;
        z-index: 1;
        position: absolute;
        height: 100%;
        // min-width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        grid-template-areas:
            "anim"
            "title"
            "contents"
            "button";
        grid-template-rows: fit-content(10%) fit-content(10%) fit-content(10%) 1fr;
        grid-template-columns: 1fr;
        font-family: "Baloo2-Regular";
        bottom: 0;

        .Animation {
            grid-area: anim;
            display: inline-flex;
            justify-content: center;
            width: 100%;
            margin-top: 10vh; 
            transition: transform 2s;           
            #Leaves {
                transform-origin: bottom;
                position: absolute;
                margin-left: 25%;
                margin-top: 5%;
                #Leaf-Right {
                    position: absolute;
                    transform: scale(0);
                    margin-left: 80.9px;
                    margin-top: 65px;
                    animation: bounce forwards 1.5s;
                    animation-delay: 0.2s;
                }
                #Leaf-Middle {
                    position: absolute;
                    transform: scale(0);
                    margin-left: 70.4px;
                    animation: bounce forwards 1.5s;
                }
                #Leaf-Pot {
                    position: absolute;
                    transform: scale(0);
                    margin-left: 105px;
                    margin-top: 310px;
                    animation: bounce forwards 1.5s;
                }
                #Leaf-Left {
                    position: absolute;
                    transform: scale(0);
                    margin-top: 57px;
                    margin-left: -40px;
                    animation: bounce forwards 1.5s;
                    animation-delay: 0.4s;
                }
                #Leaf-Small {
                    position: absolute;
                    transform: scale(0);
                    margin-top: 160px;
                    margin-left: 100.4px;
                    animation: bounce forwards 1.5s;
                    animation-delay: 0.4s;
                }
            }
            #Gear {
                position: absolute;
                margin-top: 45px;
                margin-left: -515px;
                transform: scale(0);
                animation: bounce forwards 0.7s;
                animation-delay: 0.3;
                svg {
                    animation: rotate-right infinite linear 10s;
                    animation-delay: 0.6s;
                }
            }
            #LaptopDisplay {
                animation: bounce forwards 0.7s;
            }
            #Line {
                position: absolute;
                margin-top: 45.8px;
                margin-left: 0px;
                clip: rect(0px, 100px, 200px, 0px);
                animation: reveal forwards 3s;
            }
            #Blocks {
                position: absolute;
                margin-left: -139.5px;
                margin-top: 123.3px;
                transform: scale(0);
                animation: bounce forwards 1.2s;
                animation-delay: 0.3;
            }
            #MingoBlocks {
                position: absolute;
                margin-top: 306.9px;
                margin-left: 160px;
                transform: scale(0);
                transform-origin: bottom right;
                animation: bounce forwards 1.5s cubic-bezier(0.23, 1, 0.32, 1);
                animation-delay: 0.6s;
                svg {
                    transform-origin: bottom right;
                    transform: rotate(-13deg);
                    animation: bounce-rotate 1.5s forwards ease-in-out;
                    animation-delay: 0.6s;
                }
            }
            #Mingo {
                position: absolute;
                margin-top: 233.8px;
                margin-left: 530.4px;
                transform: scale(0);
                animation: bounce forwards 1.2s;
                animation-delay: 0.2s;
                svg {
                    transform-origin: bottom right;
                    transform: rotate(-13deg);
                    animation: bounce-rotate 0.5s forwards ease-in-out;
                    animation-delay: 0.5s;
                }
            }
        }
        .Splash-Title {
            grid-area: title;
            justify-content: center;
            z-index: 1;
            user-select: none;
            text-align: center;
            color: white;
            transition: transform 2s; 
            font-size: 62pt;
        }
        .Splash-Content {
            grid-area: contents;
            justify-content: center;
            user-select: none;
            z-index: 1;
            pointer-events: all;
            text-align: center;
            color: white;
            white-space: pre-wrap;
            font-size: 21pt;
            transition: transform 2s; 
            p {
                margin: 0;
                margin-bottom: -10px;
            }
        }
        .Start-Button {
            grid-area: button;
            position: absolute;
            display: inline-flex;
            bottom: 1.2%;
            margin-bottom: 0.5vh;
            margin-left: 47vw;
            transition: transform 2s; 
            // transform: translate(-90%, -50%);
        }
    } 
}

@media only screen and (max-width: 1500px) {
    .Animation{
        transform: scale(0.8);
    }
    .Splash-Title{
        margin-top: -5%;
        transform: scale(0.8);
    }
    .Splash-Content{
        margin-top: -3%;
        transform: scale(0.8);
    }
    .Start-Button{
        transform: scale(0.8);
    }
}
