/*Main header*/
.header-container {
    background-color: transparent;//#0B0533;
    position: relative;
    top: 0;
    z-index: 55;
    display: flex;
    flex-direction: row;
    height: 86px;//8.63vh/*86px*/ ;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
    user-select: none;
    
    #logo svg {
        position: relative;
        /*color: white;*/
        font-size: 5ch;
        font-weight: bold;
        padding-left:48.9px;
        padding-top:23px;
        padding-right:84.7px;
        margin:0;
        fill: var(--logo-color) !important;
    }

    .header-buttons-segment {
        display: inline-flex;
    }

    #blank-space {
        flex-grow: 1;
        flex-shrink:1;
        min-width: 0;
    }

    #menu-button {
        margin-left: 25px;
    }
    
}
/*Removing Default Borders from Buttons*/
.button-no-border {
    display: block;
    border: none;
    padding:0;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    background:none;
}

/*Removing Default Borders from Buttons with Dropdown Menus*/
.button-no-border-drop {
    display: block;
    border: none;
    padding:0;
    margin:0;
    text-decoration: none;
    background:none;
}

/*Div Class for housing buttons which show dropdowns*/
.dropdown-button {
    position: relative;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    border: none;

    #settings-dropdown {
        background-color: var(--tetiary-color);
        height:484px;
        width: 396px;
        right: -50px;
        filter: drop-shadow(0 0 50px black);
        border-radius: 20px;
    
        .settings-component{
            color: var(--title-text-color);
        }
    
    }
}

/*Div Class for holding the dropdown content*/
.dropdown-content {
    display: none;
    position:absolute;
    background-color: none;
    min-width: 160px;
    /*HATE THIS PROPERTY*/
    top:95%;
    margin: 0;
    padding: 0;
    z-index: 2;

    button {
        position: relative;
        display: block;
        color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        margin: 0;
        transition: background-color 1s;
        background-color: #0000dca9;
        width: 100%;
        text-align: left;
        

        &:hover {
            background-color: #000057;
            
        }
    }

}


/*Div that covers the screen when a dropdown is open;
It covers the whole screen and when it is clicked, it closes all active dropdowns*/
.focusOverlay {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: dnone;
    z-index: 1;
}

/*Glowing Animation*/
.glow {
    &:hover {
        svg{
            filter: drop-shadow(0 0 8px  rgb(4, 255, 255))
        }
    }
}

/*Growing Animation*/
.grow {
    &:hover {
        svg{
            transform:scale(1.1);
        }
    }
}

/*Used to show the dropdown menu which is display:hidden by default*/
.show {
    display: inline-block;;
}