
.header-container {
    background-color: #060841;
    position: relative;
    display: flex;
    width: calc(100vw-20px);
    height: 4rem;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    

    #logo h1 {
        position: relative;
        color: white;
        font-size: 5ch;
        font-weight: bold;
        padding:30px;
        margin:0;
    }

    .header-button-container {
        display: flex;
    }

    #blank-space {
        flex-grow: 1;
        flex-shrink:1;

    }

    #right-buttons-container {
        display:flex;
        position: relative;
        
    }

    
}

/*Removing Default Borders from Buttons*/
.button-no-border {
    display: inline-block;
    border: none;
    
    padding:0;
    margin:5px;
    text-decoration: none;
    background:none;
}


/*Hover Animations*/
.glow {
    &:hover {
        svg{
            filter: drop-shadow(0 0 8px  rgb(4, 255, 255))
        }
    }
}

.grow {
    &:hover {
        svg{
            transform:scale(1.1);
        }
    }
}