#App {
    display: grid;
    grid-template-rows: 0fr;;
    width: 100%;
    height: 100%;
    overflow-y: none;
    #body-frame {
        overflow-y: hidden;
        height: 30px;
    }
    #body-container{
        // display: none;
    }
    video{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;    
        height: calc(100% - 29px);
        z-index: 1001;
    }
    .blocklyFlyoutBackground{
        text{
            user-select: none;
        }
    }

}
