.empty-button {
    display: block;
    position: absolute;
    border: none;
    padding:0;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    background: none;
    left:0;
    top:0;
}

.modal-lighting-buttons {
    height: 43px;
    width: 160px;
    border: 1px solid #3722FF ;
}

#button-container {
    display: inline-block;
    position: relative;
}

#settings-close-button{
    background-color:  #FFF0;
    border-color: #FFF0;
    color:  white;
    margin-right: 0px;
    position: relative;
    
}

.modal-blank-space {
    display: block;
    min-width: 200px;
}

.button-text {
    font-size: 21px;
    color: white;

}

.c-Button-a-LanguageMenuButton {
    position: relative;
    display:flex;
    align-items: center;
    width: 306px;
    height: 20px;
    background-color: #0b0533;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    .i-FlagBox {
        width: 29px;
        height: 15px;
        background-color: white;
    }

    .i-Text {
        color: white;
        font-size: 16px;
        padding-left: 26px;
    }
}
.c-Button-a-LanguageContentButton {
    position: relative;
    display:flex;
    align-items: center;
    width: 306px;
    height: 20px;
    background-color: #0000DC;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    .i-FlagBox {
        width: 29px;
        height: 15px;
        background-color: white;
    }

    .i-Text {
        color: white;
        font-size: 16px;
        padding-left: 26px;
    }
}

