.c-ProgressBar-a-BarContainer {
    display: block;
    position: relative;
    width: 682px;
    height: 26px;

    .i-ContainerHolder {
        display: block;
        position: absolute;
        width: 657px;
        height: 14px;
        top: 0%;
        left: 44px;
        margin: 6px;
        svg{
            #Path_379{
                fill: var(--tetiary-color);
            }
            
        }
    }

    .i-WhiteBarContainer {
        display: block;
        position: absolute;
        width: 657px;
        height: 14px;
        top: 0%;
        left: 0%;
        margin: 6px;
    }

    .i-FilledBar {
        display: inline-block;
        position: relative;
        transform: translateX(7px) translateY(-3.2px) skewX(45deg);
        top: 0%;
        background-color: var(--progress-filled-bar-color);
        margin-right: 6px;
        width: 7px;
        height: 14px;
    }

    .i-EmptyBar {
        display: inline-block;
        position: relative;
        transform: translateX(7px) translateY(-3.2px) skewX(45deg);
        top: 0%;
        background-color: var(--progress-empty-bar-color);
        margin-right: 6px;
        width: 7px;
        height: 14px;
    }

    .i-ProgressPercent {
        position: absolute;
        top:7px;
        left: 6px;
        color: white;
        filter: drop-shadow(0 0 6px #0000DC);
    }
}