/*Div Class for holding the dropdown content*/

.dropdown-container {
    display: block;
    position: relative;

    .blue-dropdown-box {
        display: none;
        position: absolute;
        background-color: none;
        min-width: 160px;
        /*HATE THIS PROPERTY*/
        top: 100%;
        left: 5px;
        margin: 0;
        padding: 0;
        z-index: 2;

        button {
            position: relative;
            display: block;
            color: white;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 20px;
            margin: 0;
            transition: background-color 1s;
            background-color: var(--secondary-color);
            width: 100%;
            text-align: left;

            &:hover {
                background-color: #0000ad;
            }
        }
    }
}

.shortcutText {
    color: #FFF8;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.button-no-border {
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    background: none;
}
