
.text{
    user-select: none;
    padding-bottom: 0px;
}
#serial-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0.63fr 0fr;
    grid-gap: 21px 12px;
    width: 100%;
    height: 140%;
    grid-template-areas: 
    "title"
    "monitor"
    "input"
    ;
    .text{
        user-select: none;
        grid-area: title;
        font-size: 21px;
    }
    .serial-monitor{
        grid-area: monitor;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        margin-bottom: 12px;
        color: var(--text-color);
        overflow-y: scroll;
    }
    
    .serial-write{
        grid-area: input;
        margin-top: -12px;
        input{
            width: 100%;
            height: 40px;
            background-color: var(--primary-color);
            font-family: inherit;
            font-size: 17px;
            color: #4C97FF;
            border: none;
            :focus-visible{
                border: none;
                outline: none;
            }
        }
        input::placeholder{
            color: #4C97FF;
        }
    }
}
