.workspace{
    background: red;
    position: relative;
    display: flex;
    width: 1660.65px;
    height: 976.94px;
    clip-path : polygon(19.073em 5.705em, 19.069em 1.546em, 18.769em 1.219em, 10.926em 1.229em, 8.454em 1.231em, 2.955em 1.235em, 2.466em 1.714em, 2.466em 2.588em, 2.718em 2.839em, 2.718em 10.278em, 3.036em 10.595em, 7.372em 10.594em, 7.768em 10.989em, 18.667em 10.989em, 19.066em 10.590em, 19.066em 10.365em, 19.072em 10.358em, 19.063em 6.814em, 18.520em 6.814em, 18.520em 6.255em);
}