.App {
  width: 100%;
  height: 100%;
}
.fill-height {
  position: relative;
  padding: 0px;
  left: 0px; 
  height: 100vh;
  width: 100vw;
}
.TitleBar {
  height: 50px;
  background-color: dodgerblue;
}
.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/*
.texter {
  float: left;
  height: 90%;
  width: 49%;
  resize: none;
}
*/