.progress-bar {
    position: absolute;
    display: inline-block;
}
.progress-bar svg {
    position: absolute;
    display: inline-block;
    fill: red;
}
.bar_slider{
    position: absolute;
    width: 90%;
    fill: black;
}
//19.89