:root {
    --percentage: 10;
}
@keyframes increase-percentage {
    from {
        --percentage: 0;
        width: calc((0/100*659px));
    }
    to {
        width: calc((55/100*659px));
    }
}
.bar-overlay {
    position: relative;
    display: inline-block;
}
.bar-slider{
    position: absolute;
    display: inline-block;
    // width: calc(var(--percentage)/100*659px);
    padding-top: 6px;
    padding-left: 4px;
    transform: scale(1.01,1.2);
    fill:white;
    border: none;
    animation: increase-percentage forwards 5s;
}

.bar-background {
    position: absolute;
    padding-top: 6px;
    padding-left: 10px;
}
//19.89