.text {
    padding-bottom: 0px;
}

#example-code-menu {
    position: relative;
    display: grid;
    gap: 22px 18px;
    height: 95%;
    #button-container {
        width: 120px;
    }
    #examples {
        display: grid;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .code-example {
        display: inline-flex;
        flex-direction: column;
        background-color: var(--primary-color);
        border: 1px solid var(--border-color);
        // height: 537px;
        padding: 18px 29px 0px 23px;
        margin-bottom: 5%;
        .code-example-header {
            color: #4c97ff;
            padding-bottom: 16px;
            font-size: 21px;
        }
        .example-details {
            display: flex;
            flex-direction: column;
            color: var(--text-color);
            margin-bottom: 10px;
            > div {
                padding-bottom: 5px;
            }
            .blocks_used {
                margin-bottom: -5px;
                padding: 0px;
            }
        }
        .example-buttons {
            display: inline-flex;
            .example-devices {
                display: grid;
                grid-template-columns: repeat(2, 63px);
                gap: 10px;
                margin-bottom: 10px;
                .device {
                    width: 63px;
                    height: 25px;
                    background-color: var(--secondary-color);
                    color: var(--text-color);
                    text-align: center;
                    user-select: none;
                }
            }
            #button-container {
                left: 35%;
                transform: translateX(-50%);
                margin-bottom: 20px;
            }
        }
    }
}
