@font-face {
    font-family: 'Baloo2-Regular';
    src: local('Baloo2-Regular'), url(./../fonts/Baloo2-Regular.ttf) format('truetype');
  }

.circle-animation {
    position: absolute;
    display: inline-block;
}

.circle-animation svg {
    fill: red;
}
.circle-animation svg:active {
    fill: #0000dc;
}
.circle-animation text{
    font-family: 'Baloo2-Regular';
    font-size: 17px;
    fill: black;
}