@font-face {
    font-family: 'Baloo2-Regular';
    src: local('Baloo2-Regular'), url(./../fonts/Baloo2-Regular.ttf) format('truetype');
  }
@keyframes saturate{
    from{
        filter: brightness(0.5)
    }
    to{
        filter: brightness(1)
    }
}
@keyframes grow {
    0%{
        transform: scale(0.5)
    }
    100%{
        transform: scale(0.8)
    }
}

#upload-container {
    width: 151.1px;
    height: 151.09px;
    display: flex;
    .circle{
        position: relative;
        display: inline-block;
        #Outer_Circle{
            fill: red;
        }
    }
    #selected-device{
        position: absolute;
        transform-origin: center;
        left: 50%;
        top: 50%;
        transform: scale(0.5) translate(-92%, -90%);
        filter: drop-shadow(0px 0px 5px var(--secondary-color));
        //:hover{
       //    //animation: grow 1s infinite alternate;
       // }
    }
    .device-add-button{
        position: absolute;
        margin-top: 119.2px;
        margin-left: 101.4px;
    }
    
    .circle svg {
        fill: #0000dc;
    }
    .circle svg:active {
        fill: red;
    }
    .upload-text{
        width: 100%;
        display: inline-block;
        font-family: 'Baloo2-Regular';
        font-size: 17px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0px;
        padding-top: 7px;
        padding-left: 7px;
        text-align: center;
    }

    .circle-animation {
        position: relative;
        display: inline-block;
    }
}