
@font-face {
  font-family: "Baloo2-Regular";
  src: local("Baloo2-Regular"), url(./../fonts/Baloo2-Regular.ttf) format("truetype");
}

#edit-code-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    height: 912.93px;
    .text{
        padding-bottom: 21px;
        font-size: 21px;
    }
}
#code-editor-textarea{
    color: #4C97FF;
    display: flex; 
    width: 352.96px;
    height: 871px;
    border: none;
    outline: none;
    margin-bottom: 0px;
    
}
#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    border: 0;
    background-color: #0B0533;
    outline: none;
    width: 352.96px;
    height: 830px;
    margin: 0;
    padding: 10px 10px 0px 10px;
    resize: none;
  }
  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 17pt;
    font-family: "Baloo2-Regular";
    line-height: 20pt;
    tab-size: 5;
  }

  #editing, #highlighting {
    position: absolute;
    white-space: nowrap;
    overflow: auto;
  }

  #editing {
    z-index: 1;
  }
  #highlighting {
    z-index: 0;

  }
  #editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favorite color */
  }