.framebar {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background: linear-gradient( var(--tetiary-color),var(--primary-color));
    // background: linear-gradient(blue, red);
    justify-content: flex-end;
    .framebar-background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin-right: 140px;
        -webkit-app-region: drag;
    }
    .framebar-buttons {
        position: absolute;
        display: grid;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 12px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
            svg{
                vertical-align: bottom;
            }
    }
}
