.pull-out-menu {
    position: relative;
    display: flex;
    transition: margin-left 1s, opacity 1s;
    #sidebar-overlay {
        z-index: 0;
        width: 86px;
        height: 977px;
        background: #060841;
        clip-path: polygon(0.000px 977.000px, 0.000px 977.000px, 30.100px 976.900px, 70.000px 937.100px, 70.000px 914.600px, 70.600px 913.900px, 69.600px 559.500px, 15.400px 559.500px, 15.400px 503.600px, 70.700px 448.600px, 70.300px 32.600px, 40.300px 0.000px, 0.000px 0.100px, 0.000px 0.000px, 87.000px 0.000px, 87.000px 977.000px, 0.000px 977.000px)
    }
    .container-background{
        margin-top: -22.1px;
        position: absolute;
        background-color: #060841;
        width: 412.54px;
        height: 976.94px;
    }
    .c-Pull-Out-Menu-a-buttongroup {
        margin-top: 51.1px;
        margin-right: -34.7px;
        display: inline-flex;
        flex-direction: column;
        z-index: 1;
        #button-container {
            display: flex;
            margin-bottom: 10px;
        }
    }
    .pull-out-container {
        margin-top: 22.1px;
        margin-left: 0px;        
        position: relative;
        transition: opacity 1s;
    }
}
