#sidebar-menu{
    display: grid;

}

.menu {
    position: absolute;
    display: grid;
    background:#060841;
    padding: 27px 30px 0px 30px;
    margin-left: -1px;
    border: none;
    max-height: 976.94px;
    // box-shadow: 15px 15px 15px 0px grey;
    
    font-family: 'Baloo2-Regular';
}
.text {
    display: block;
    color: white;
    padding-bottom: 20px;
    font-size: 21px;
}