.menu {
    position: relative;
    display: inline-block;
    background-color:#060841;
    padding: 27px 30px 198px 30px;
    box-shadow: 15px 15px 15px 0px grey;
    font-family: 'Baloo2-Regular';
}
.text {
    display: block;
    color: white;
    padding-bottom: 20px;
    font-size: 21px;
}