#code-editor-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  display: block;

  #outline {
    position: absolute;
    background-color: var(--primary-color);
    display: block;
    min-width: 100%;
    height: 100%;
    transition: all 0.7s;
    z-index: 2;
    transform-origin: top left;

    // box-shadow: -3px 10px 15px #0713BF;

    #code-editor-items {
      position: absolute;
      display: grid;
      background-color: var(--tetiary-color);
      grid-template-areas:
        "headertext buttons"
        "textarea textarea";
      grid-template-rows: 0.05fr;
      font-family: "Baloo2-Regular";
      width: calc(100% - 109.5px);
      height: calc(100% - 108px);
      z-index: 2;
      padding: 22px;
      .text {
        grid-area: headertext;
        color: var(--text-color);
        display: inline-flex;
        font-size: 21px;
        height: 21px;
      }
      #code-editor-buttons {
        grid-area: buttons;
        align-self: flex-end;
        justify-self: end;
        margin-right: 2.5%;
        position: absolute;
        display: grid;
        z-index: 3;
        height: 30px;
        user-select: none;
        grid-template-areas: "expand close";
        gap: 30px;
        #expand-button {
          grid-area: expand;
          display: flex;
          margin-top: 5px;
        }
        #close-button {
          grid-area: close;
          height: 20px;
          width: 20px;
          #button-container {
            height: 20px;
            width: 20px;
          }
        }
      }
      #code-editor-textarea {
        grid-area: textarea;
        display: grid;
        grid-template-areas: "codelines editor";
        grid-template-columns: 25px 1fr;
        color: var(--text-color);
        border: none;
        outline: none;
        margin-bottom: 0px;
        pointer-events: all;
        // height: 100%;
        #code-lines {
          grid-area: codelines;
          position: absolute;
          height: 90%;
          top: 5.6%;
          left: 12px;
          #line-numbers {
            text-align: justify;
            height: 100%;
            margin-bottom: 0;
            white-space: nowrap;
            font-family: "Baloo2-Regular";
            font-size: 17pt;
            line-height: 20pt;
            tab-size: 5;
            padding: 0px;
            overflow-y: hidden;
            p {
              margin: 0;
            }
          }
        }

        #full-editor {
          grid-area: editor;
          #full-editing,
          #full-highlighting {
            border: 0;
            outline: none;
            width: calc(100% - 98px);
            height: calc(100% - 102px);
            margin: 0;
            padding: 10px 10px 0px 10px;
            resize: none;
          }
          #full-editing,
          #full-highlighting,
          #full-highlighting * {
            font-size: 17pt;
            background-image: none !important;
            background-color: var(--primary-color) !important;
            font-family: "Baloo2-Regular";
            line-height: 20pt;
            tab-size: 5;
          }

          #full-editing,
          #full-highlighting {
            position: absolute;
            white-space: nowrap;
            overflow: auto;
          }

          #full-editing {
            z-index: 1;
          }
          #full-highlighting {
            z-index: 0;
          }
          #full-editing {
            color: transparent !important;
            background: transparent;
            background-color: transparent !important;
            caret-color: var(--text-color);
          }
        }
      }
    }
  }
}

// @media screen and (min-width: 1920px) {
//   #outline {
//     min-width: 100% !important;
//   }
// }
// @media screen and (min-width: 1550px) and (max-width: 1920px) {
//   #outline {
//     min-width: 95% !important;
//   }
// }
// @media screen and (min-width: 1300px) and (max-width: 1550px) {
//   #outline {
//     min-width: 90% !important;
//   }
// }

// @media (min-height: 1080px) {
//   #outline {
//     min-height: 94.8% !important;
//     #code-editor-items {
//       height: 93% !important;
//     }
//   }
// }

// @media (min-height: 900px) and (max-height: 1080px) {
//   #outline {
//     min-height: 90% !important;
//     #code-editor-items {
//       height: 90% !important;
//     }
//   }
// }

// @media (min-height: 800px) and (max-height: 900px) {
//   #outline {
//     min-height: 85% !important;
//     #code-editor-items {
//       height: 93% !important;
//     }
//   }
// }

// @media (max-height: 800px) {
//   #outline {
//     min-height: 80% !important;
//     #code-editor-items {
//       height: 88% !important;
//     }
//   }
// }
